.load-more {
    display: block;
    padding: 7px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    background-color: #7875f8;
    cursor: pointer;
}

.load-more:hover {
    background-color: #c0c1f8;
    border: 2px solid inherit;
}

.load-more.is-hidden {
    display: none;
}
